<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\PageCache\Kernel">
        <plugin name="prevent_caching_404_head_results"
            type="Magic42\PreventHead404Cache\Plugin\PreventCachingHead404ResultsPlugin" />
    </type>
</config>
